<?php
// @codingStandardsIgnoreFile
/** 
 * @var $block \Magento\Catalog\Block\Product\View
 */
?>

<div data-mage-init='{"myjs": {}}'>
    <a href="#" id="click-me">Click Me</a>
</div>


<div id="popup-modal" >
  <label for="customqty">Qty</label><input type="text" name="customqty" id="customqty"/>
  <label for="customprice">Price</label> <input type="text" name="customprice" id="customprice">
</div>
<?php
echo "IN template file";
    // $_product = $block->getProduct();
  $blockId = 'test_block';
?>

    <?php 
        $html = $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId(1)->toHtml();
        if($html != ''):
    ?>
        <div><?php echo $html ?></div>
    <?php endif; ?>